.breadcrumb {
    display: flex;
    list-style: none;
    padding: 8px 0; /* Reducimos el padding horizontal */
    background-color: transparent; /* Eliminamos el fondo para alinear mejor */
    /* Espacio debajo del breadcrumb */
    margin: 0 0 20px;
    font-size: 14px;
    align-items: center;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    padding: 0 8px;
    color: #6c757d;
}

.breadcrumb-item a {
    text-decoration: none;
    color: #007bff;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}

.breadcrumb-item.active {
    color: #6c757d;
}
