.content-container {
    flex-grow: 1; /* Asegura que el contenedor ocupe todo el espacio disponible */
    background-color: #f4f6f9; /* Fondo ligero para que se destaque */
    padding: 20px; /* Espacio interno para el contenido */
    box-sizing: border-box; /* Asegura que padding no afecte el ancho */
    overflow-y: auto; /* Permite desplazamiento vertical si el contenido es grande */
    display: flex;
    flex-direction: column; /* Asegura que los elementos internos se alineen verticalmente */
    height: 100%; /* Asegura que ocupe toda la altura disponible */
}
