.dashboard {
    display: flex;
    height: 85vh; /* Ocupa toda la altura de la pantalla */
    overflow: hidden; /* Previene scroll innecesario */
}

.side-menu {
    width: 250px;
    background-color: #343a40;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    color: white;
}

.main-content {
    flex-grow: 1;
    margin-left: 250px; /* Asegura que el contenido comience después del SideMenu */
    display: flex;
    flex-direction: column; /* Alinea los elementos dentro de main-content verticalmente */
    padding: 20px;
    overflow-x: hidden; /* Previene scroll horizontal */
    box-sizing: border-box;
    height: 100vh; /* Asegura que main-content ocupe toda la altura disponible */
}

.page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    box-sizing: border-box;
    overflow-y: auto;
}
